<div class="body">
  <div class="login">
    <img src="../../../../assets/images/newdelta-logo 2.png" alt="" />
    <h1 class="h3 mb-3 fw-normal">Login1</h1>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <div *ngIf="error">
        <div class="message_create">Inicio de sesion incorrecto</div>
      </div>
      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
    </form>
  </div>
</div>
