.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002b5c;
  height: 100%;
}
.login {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1.5em;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 4%;
}

.login img{
  width: 50%;
  height: 15%;
  display: block;
  margin: auto;
}

.login mat-form-field{
  margin-bottom: 15px;
}

.login button{
  display: block;
  text-align: center;
  margin: auto;
}

.example-full-width {
  width: 80%;
}
