<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()" (click)="onToggleSidenav()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
  </button>
  New Delta
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-divider></mat-divider>

    <button mat-button class="menu-button"(click)="goToHomePage()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" (click)="goToBookingPage()">
      <mat-icon> directions_car</mat-icon>
      <span>Reservas</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>


