<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Distribuidora DHR
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-divider></mat-divider>

    <button mat-button class="menu-button"(click)="goToHomePage()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" (click)="goToClientsPage()">
      <mat-icon>perm_identity</mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-button class="menu-button" (click)="goToProductsPage()">
      <mat-icon>store</mat-icon>
      <span>Productos</span>
    </button>
    <button mat-button class="menu-button" (click)="goToSalesPage()">
      <mat-icon>shopping_cart</mat-icon>
      <span>Ventas</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>


